<header class="header">
  <div class="router_group">
    <a class="link" routerLink="/" routerLinkActive="link--active" [routerLinkActiveOptions]="{exact: true}">Products</a>
  </div>
  <div class="router_group">
    <a class="link" routerLink="/cart" routerLinkActive="link--active">Cart <span *ngIf="cartCount$ | async as count">({{count}})</span></a>
    <div *ngIf="!storageService.isLoggedIn(); else connected">
      <a class="link" routerLink="/auth/login" routerLinkActive="link--active">Login</a>
      <a class="link" routerLink="/auth/register" routerLinkActive="link--active">Register</a>
    </div>
    <ng-template #connected>
      <a class="link" routerLink="/user/profile" routerLinkActive="link--active">Profile</a>
      <a class="link" (click)="logout($event)" href="">Logout</a>
    </ng-template>
  </div>
</header>
