<div class="details" *ngIf="product">
  <div class="image_container">
    <img class="image" [src]="imageSource" alt="product image">
    <div class="preview">
      <img class="preview-image" *ngFor="let image of product.images" [src]="image" alt="Rip" (mouseover)="selectImage(image)">
    </div>
  </div>
  <div class="info">
    <p class="title">{{product.name}}</p>

    <p>Manufacturer: {{product.manufacturer}}</p>
    <p>Models: {{product.model.join(", ")}}</p>
    <p>Coaster type: {{product.type}}</p>

    <p>Capacity: {{product.capacity}} people/hr</p>
    <p>Max height: {{product.height}} meters - Total length:  {{product.length}}Km</p>
    <p>Max speed {{product.speed}}</p>

    <p>{{product.price | number:'':'fr'}} €</p>
    <button class="add" (click)="addToCart()">Add to cart</button>
  </div>
</div>
