/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "ng-select.override.css";

:root {
  --darker: #16162F;
  --dark: #25294A;
  --primary: #2D325A;
  --secondary: #373C6D;
  --light: #9FA4D5;
  --white: #F3F0F2;

  --red: #FE4365;
  --blue: #5AE8EB;
  --green: #4BD976;

  --shadow-light: 0 0 20px -5px rgba(0,0,0,0.3);
  --shadow-hard: 0 0 20px -5px rgba(0,0,0,0.4);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--darker);
}

app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

#content > * {
  width: 100%;
}
.app_content_centered {
  display: flex;
  justify-content: center;
}
